<div class="container-fluid mainbanner">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">


            <div class="item active">
                <content name='loginbanner2161' id='161' > </content>
            </div>

        </div>


    </div>
</div>


<div class="container login_wrapper">

    <h2><content name='logintext162' id='162' > </content></h2>

    <input type="text" class="form-control" placeholder="User Email">

    <input type="password" class="form-control" placeholder="User Password">

    <div class="remembermediv">

        <input type="checkbox" value="" class="checkboxdiv">
        <label>Remember me </label>
        <div class="clearfix"></div>

    </div>

    <a class="forgotpassword" ng-click="gotofpassword()" href="javascript:void(0)">Forgot your password?</a>

    <input type="submit" value="Login" class="loginbtn">




    </div>