<div class="container-fluid mainbanner">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">


            <div class="item active">
                <content name='productlistingbanner168' id='168' > </content>
            </div>

        </div>


    </div>
</div>


<div class="container product_wrapper">

    <h2  class="productheading"><content name='productlistingheading169' id='169' > </content></h2>

    <div class="product_topmenu">
        <div class="pro_menudiv"><a href="javascript:void(0)">Skin Care</a> </div>
        <div class="pro_menudiv"><a href="javascript:void(0)">Make-Up </a> </div>
        <div class="pro_menudiv"><a href="javascript:void(0)" class="active"> Nail Care</a> </div>
        <div class="pro_menudiv"><a href="javascript:void(0)"> Others</a> </div>


        <div class="clearfix"></div>
    </div>




    <div class="product_box_wrapper">


        <div class="product_box">
            <div class="proimg">
                <img src="../images/proimg1.png" >
            </div>

            <div class="proprice">$00.00</div>

            <a href="javascript:void(0)" class="procartbtn">Add to Cart</a>
        </div>
        <div class="product_box">
            <div class="proimg">
                <img src="../images/proimg2.png" >
            </div>

            <div class="proprice">$00.00</div>

            <a href="javascript:void(0)" class="procartbtn">Add to Cart</a>
        </div>
        <div class="product_box">
            <div class="proimg">
                <img src="../images/proimg3.png" >
            </div>

            <div class="proprice">$00.00</div>

            <a href="javascript:void(0)" class="procartbtn">Add to Cart</a>
        </div>
        <div class="product_box">
            <div class="proimg">
                <img src="../images/proimg4.png" >
            </div>

            <div class="proprice">$00.00</div>

            <a href="javascript:void(0)" class="procartbtn">Add to Cart</a>
        </div>

        <div class="product_box">
            <div class="proimg">
                <img src="../images/proimg1.png" >
            </div>

            <div class="proprice">$00.00</div>

            <a href="javascript:void(0)" class="procartbtn">Add to Cart</a>
        </div>
        <div class="product_box">
            <div class="proimg">
                <img src="../images/proimg2.png" >
            </div>

            <div class="proprice">$00.00</div>

            <a href="javascript:void(0)" class="procartbtn">Add to Cart</a>
        </div>
        <div class="product_box">
            <div class="proimg">
                <img src="../images/proimg3.png" >
            </div>

            <div class="proprice">$00.00</div>

            <a href="javascript:void(0)" class="procartbtn">Add to Cart</a>
        </div>
        <div class="product_box">
            <div class="proimg">
                <img src="../images/proimg4.png" >
            </div>

            <div class="proprice">$00.00</div>

            <a href="javascript:void(0)" class="procartbtn">Add to Cart</a>
        </div>

        <div class="clearfix"></div>

    </div>



</div>