<div class="container-fluid mainbanner">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">


            <div class="item active">
                <content name='productlistingbanner168' id='168' > </content>
            </div>

        </div>


    </div>
</div>


<div class="container product_wrapper">

    <h2  class="productheading"><content name='productdetailstext171' id='171' > </content></h2>


    <div class="product_topmenu">
        <div class="pro_menudiv"><a href="javascript:void(0)">Skin Care</a> </div>
        <div class="pro_menudiv"><a href="javascript:void(0)">Make-Up </a> </div>
        <div class="pro_menudiv"><a href="javascript:void(0)" class="active"> Nail Care</a> </div>
        <div class="pro_menudiv"><a href="javascript:void(0)"> Others</a> </div>


        <div class="clearfix"></div>
    </div>



    <div class="product_detailblock">

        <div class="prodetail_left">

            <div class="prodetail_left_bigimg"><img src="../images/proimg2.png"></div>

            <div class="prodetail_left_smallimg">
                <img src="../images/thum_img1.png">
                <img src="../images/thum_img2.png">
                <img src="../images/thum_img3.png">

                <div class="clearfix"></div>
            </div>

        </div>

        <div class="prodetail_right">

            <div class="product_detailname">
                <h2><span>Name:</span>  Hands of Healing Product </h2>
                <h3>Price (US Dollar): $00.00</h3>


            </div>

            <div class="product_detailqty">

                <label>qty</label>
                <input type="text" value="1" class="proqtyinput">


                  <div class="proqty_arrowbtn">
                <a href="javascript:void(0)"><img src="../images/pro_qta_top.png"></a>
                <a href="javascript:void(0)"><img src="../images/pro_qta_bottom.png"></a>

                   </div>
                <div class="clearfix"></div>
            </div>

            <a href="javascript:void(0)" class="addtocartbtn"> add to cart</a>

            <div class="clearfix"></div>

            <div class="prodescriptiontext_wrapper">
            <h6>Description</h6>
            <div class="prodescriptiontext">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
            </div>



            </div>



        <div class="clearfix"></div>

    </div>


    <div class="product_bottom_gallery_wrapper">
        <h4>We think you'll love these too ...</h4>

        <div class="product_gallery_contain">

        <div class="product_box2">
            <div class="proimg2">
                <img src="../images/proimg1.png" >
            </div>

            <div class="proprice2">$00.00</div>

            <a href="javascript:void(0)" class="procartbtn2">Add to Cart</a>
        </div>
        <div class="product_box2">
            <div class="proimg2">
                <img src="../images/proimg2.png" >
            </div>

            <div class="proprice2">$00.00</div>

            <a href="javascript:void(0)" class="procartbtn2">Add to Cart</a>
        </div>
        <div class="product_box2">
            <div class="proimg2">
                <img src="../images/proimg3.png" >
            </div>

            <div class="proprice2">$00.00</div>

            <a href="javascript:void(0)" class="procartbtn2">Add to Cart</a>
        </div>
        <div class="product_box2">
            <div class="proimg2">
                <img src="../images/proimg4.png" >
            </div>

            <div class="proprice2">$00.00</div>

            <a href="javascript:void(0)" class="procartbtn2">Add to Cart</a>
        </div>

   <div class="clearfix"></div>

        </div>



        </div>



</div>