<div class="container-fluid mainbanner">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <content name='topreviewbanner163' id='163' > </content>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid reviewsblock1">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 reviewsblock1title text-center">
                        <content name='aboutusblock1titleimage141' id='141' > </content>
                        <h4><content name='reviewsblock1titleh4164' id='164' > </content></h4>
                        <span class="yelpimg"><content name='reviewsblock1titleh4image165' id='165' > </content></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid reviewsblock2">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 reviewsblock2wrapper reviewsblock2sample1">
                        <div class="upper_left"></div>
                        <div class="upper_center"></div>
                        <div class="upper_right"></div>
                        <div class="lower_left"></div>
                        <div class="lower_right"></div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <img src="../images/reviews-one.png" alt="reviews-one">
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 reviewdocs">
                                <img src="../images/userimg.jpg" alt="userimg">
                                <p>All I gave to say is wow! I went in for a foot soak and facial first time and I experienced such a fun and relaxing session. Not only was the customer service awesome but hands of Tiffanie are gifted! I walked in frazzled and left relaxed and at peace. I'm about to book my next session now. You will not be disappointed!</p>
                                <h4>Tonya B.<span>Hayward, CA</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 reviewsblock2wrapper reviewsblock2sample2">
                        <div class="upper_left"></div>
                        <div class="upper_center"></div>
                        <div class="upper_right"></div>
                        <div class="lower_left"></div>
                        <div class="lower_right"></div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <img src="../images/reviews-two.png" alt="reviews-one">
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 reviewdocs">
                                <img src="../images/userimg.jpg" alt="userimg">
                                <p>All I gave to say is wow! I went in for a foot soak and facial first time and I experienced such a fun and relaxing session. Not only was the customer service awesome but hands of Tiffanie are gifted! I walked in frazzled and left relaxed and at peace. I'm about to book my next session now. You will not be disappointed!</p>
                                <h4>Tonya B.<span>Hayward, CA</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 reviewsblock2wrapper reviewsblock2sample1">
                        <div class="upper_left"></div>
                        <div class="upper_center"></div>
                        <div class="upper_right"></div>
                        <div class="lower_left"></div>
                        <div class="lower_right"></div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <img src="../images/reviews-one.png" alt="reviews-one">
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 reviewdocs">
                                <img src="../images/userimg.jpg" alt="userimg">
                                <p>All I gave to say is wow! I went in for a foot soak and facial first time and I experienced such a fun and relaxing session. Not only was the customer service awesome but hands of Tiffanie are gifted! I walked in frazzled and left relaxed and at peace. I'm about to book my next session now. You will not be disappointed!</p>
                                <h4>Tonya B.<span>Hayward, CA</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 reviewsblock2wrapper reviewsblock2sample2">
                        <div class="upper_left"></div>
                        <div class="upper_center"></div>
                        <div class="upper_right"></div>
                        <div class="lower_left"></div>
                        <div class="lower_right"></div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <img src="../images/reviews-two.png" alt="reviews-one">
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 reviewdocs">
                                <img src="../images/userimg.jpg" alt="userimg">
                                <p>All I gave to say is wow! I went in for a foot soak and facial first time and I experienced such a fun and relaxing session. Not only was the customer service awesome but hands of Tiffanie are gifted! I walked in frazzled and left relaxed and at peace. I'm about to book my next session now. You will not be disappointed!</p>
                                <h4>Tonya B.<span>Hayward, CA</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 reviewsblock2wrapper reviewsblock2sample1">
                        <div class="upper_left"></div>
                        <div class="upper_center"></div>
                        <div class="upper_right"></div>
                        <div class="lower_left"></div>
                        <div class="lower_right"></div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <img src="../images/reviews-one.png" alt="reviews-one">
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 reviewdocs">
                                <img src="../images/userimg.jpg" alt="userimg">
                                <p>All I gave to say is wow! I went in for a foot soak and facial first time and I experienced such a fun and relaxing session. Not only was the customer service awesome but hands of Tiffanie are gifted! I walked in frazzled and left relaxed and at peace. I'm about to book my next session now. You will not be disappointed!</p>
                                <h4>Tonya B.<span>Hayward, CA</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 reviewsblock2wrapper reviewsblock2sample2">
                        <div class="upper_left"></div>
                        <div class="upper_center"></div>
                        <div class="upper_right"></div>
                        <div class="lower_left"></div>
                        <div class="lower_right"></div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <img src="../images/reviews-two.png" alt="reviews-one">
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 reviewdocs">
                                <img src="../images/userimg.jpg" alt="userimg">
                                <p>All I gave to say is wow! I went in for a foot soak and facial first time and I experienced such a fun and relaxing session. Not only was the customer service awesome but hands of Tiffanie are gifted! I walked in frazzled and left relaxed and at peace. I'm about to book my next session now. You will not be disappointed!</p>
                                <h4>Tonya B.<span>Hayward, CA</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <a href="#" class="viewmore">View More</a>
                    <div class="divider"></div>
                </div>

            </div>
        </div>
    </div>
</div>
