<div class="container-fluid mainbanner">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">


            <div class="item active">
                <content name='signupbanner167' id='167' > </content>
            </div>

        </div>


    </div>
</div>


<div class="container login_wrapper">

    <h2><content name='signuptext166' id='166' > </content></h2>

    <input type="text" class="form-control" placeholder="User Email">

    <input type="password" class="form-control" placeholder="User Password">


    <select class="form-control3">
        <option value="" disabled selected>Select your option</option>
        <option value="">Select1</option>
        <option value="">Select2</option>
        <option value="">Select3</option>
    </select>


    <textarea class="form-control2" placeholder="Sign Up Textarea"></textarea>


    <div class="checkbox_con">

        <input type="checkbox" value="">
        <label>Sign Up Form Checkbox</label>
        <div class="clearfix"></div>

    </div>

    <div class="checkbox_con">

        <input type="radio" value="">
        <label>Sign Up Form Radio  </label>
        <div class="clearfix"></div>

    </div>



    <input type="submit" value="Sign Up" class="loginbtn">




</div>